<div class="flex place-items-center h-[100vh]">
  <div class="md:flex max-w-[1000px] w-full mx-auto shadow-lg rounded-md">
    <div class="bg-blue-800 w-full md:w-[400px] p-6">
      <h1 class="text-white font-bold text-3xl mb-3">ERP System</h1>
      <span class="text-xl text-white">Make it Simple</span>
    </div>
    <div class="w-full p-8 md:py-28 bg-gray-100">
      <h2 class="text-5xl mb-16">Login</h2>
      <div class="mb-5">
        <label for="email" class="block mb-2 text-gray-600">Email*</label>
        <input type="text" id="email" class="border h-[45px] w-full rounded px-3" placeholder="Please enter your email">
      </div>
      <div>
        <label for="password" class="block mb-2 text-gray-600">Password*</label>
        <input type="text" id="password" class="border h-[45px] w-full rounded px-3" placeholder="Please enter your password">
      </div>
      <div class="text-right mt-3">
        <a routerLink="/forgot-password" class="text-gray-400">Forgot password?</a>
      </div>
      <div class="mt-5">
        <a routerLink="/portal" class="uppercase bg-blue-800 rounded-full block text-white py-3 text-xl text-center">Sign in</a>
      </div>
    </div>
  </div>
</div>
