<h2 class="text-5xl mb-5">Dashboard</h2>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis odio nam fuga corporis adipisci
    dicta
    voluptatibus
    eveniet quaerat vel provident facere delectus aliquam veniam earum soluta, dolore saepe expedita ipsum.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo nobis repellendus voluptatibus, veritatis
    placeat enim omnis dolores repellat cum ipsum ad rem, hic dolorum porro est? Tempore similique ducimus
    dolorum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolores vero quidem
    sint hic rem voluptas earum, amet consectetur deserunt deleniti corrupti esse neque aperiam veniam in
    est possimus ex! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem et magni fugiat
    quasi. Velit vel itaque veritatis voluptatum asperiores, molestiae eaque vitae, deleniti aut nisi
    temporibus, odit cupiditate quidem nostrum! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Veritatis, quaerat quia possimus voluptatem vel minus, exercitationem eum officia ducimus assumenda
    itaque tempora quo amet tenetur nihil sint vero excepturi! Animi.
</p>