<div class="flex justify-end gap-6 items-center border-b pb-3 mb-5">
    <a href="" class="text-3xl"><i class="bi bi-bell"></i></a>
    <div class="w-[50px] h-[50px] bg-gray-400 rounded-full"></div>
</div>

<div class="flex justify-between items-center mb-4">
    <h2 class="text-5xl">Report List</h2>
    <div class="flex items-center gap-3">

        <form class="max-w-md mx-auto">
            <label for="default-search"
                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-4 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="search" id="default-search"
                    class="block w-full px-4 py-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search Mockups, Logos..." required />

            </div>
        </form>

        <div class="flex items-center gap-2">
            Export As
            <a href="" class="text-green-600 text-4xl"><i class="bi bi-file-earmark-spreadsheet"></i></a>
            <a href="" class="text-red-600 text-4xl"><i class="bi bi-file-earmark-pdf-fill"></i></a>
        </div>

        <a href="new-leads.html" class="bg-blue-800 px-8 text-white py-2 rounded-full">ADD <i
                class="bi bi-plus"></i></a>

    </div>
</div>



<div class="relative overflow-x-auto border rounded-md">
    <!-- <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead
            class="text-xs text-gray-700 border-b uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-4 py-3">
                    SL #
                </th>
                <th scope="col" class="px-4 py-3">
                    Owner
                </th>
                <th scope="col" class="px-4 py-3">
                    Last Name
                </th>
                <th scope="col" class="px-4 py-3">
                    NRIC
                </th>
                <th scope="col" class="px-4 py-3">
                    Type of Loan
                </th>
                <th scope="col" class="px-4 py-3">
                    Lead Source
                </th>
                <th scope="col" class="px-4 py-3">
                    Lead Status
                </th>
                <th scope="col" class="px-4 py-3">
                    No Telephone Dihubungi
                </th>
                <th scope="col" class="px-4 py-3">
                    Pos Out Date
                </th>
                <th scope="col" class="px-4 py-3">
                    Pos Out Loan Amount
                </th>

            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row"
                    class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    1
                </th>
                <td class="px-4 py-3">
                    <a href="leads-view.html" class="text-blue-600"> (M-T2) Nurul Izzaty</a>
                </td>
                <td class="px-4 py-3">
                    Simantakar Umbartani Binti Sulaiman
                </td>
                <td class="px-4 py-3">
                    65464694
                </td>
                <td class="px-4 py-3">
                    --NONE---
                </td>
                <td class="px-4 py-3">
                    Web
                </td>
                <td class="px-4 py-3">
                    Tidak Berminat
                </td>
                <td class="px-4 py-3">
                    559885884
                </td>
                <td class="px-4 py-3">

                </td>
                <td class="px-4 py-3 text-end">
                    0.00
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row"
                    class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    2
                </th>
                <td class="px-4 py-3">
                    <a href="leads-view.html" class="text-blue-600"> (M-T2) Nurul Izzaty</a>
                </td>
                <td class="px-4 py-3">
                    Simantakar Umbartani Binti Sulaiman
                </td>
                <td class="px-4 py-3">
                    65464694
                </td>
                <td class="px-4 py-3">
                    --NONE---
                </td>
                <td class="px-4 py-3">
                    Web
                </td>
                <td class="px-4 py-3">
                    Tidak Berminat
                </td>
                <td class="px-4 py-3">
                    559885884
                </td>
                <td class="px-4 py-3">

                </td>
                <td class="px-4 py-3 text-end">
                    0.00
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row"
                    class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    3
                </th>
                <td class="px-4 py-3">
                    <a href="leads-view.html" class="text-blue-600"> (M-T2) Nurul Izzaty</a>
                </td>
                <td class="px-4 py-3">
                    Simantakar Umbartani Binti Sulaiman
                </td>
                <td class="px-4 py-3">
                    65464694
                </td>
                <td class="px-4 py-3">
                    --NONE---
                </td>
                <td class="px-4 py-3">
                    Web
                </td>
                <td class="px-4 py-3">
                    Tidak Berminat
                </td>
                <td class="px-4 py-3">
                    559885884
                </td>
                <td class="px-4 py-3">

                </td>
                <td class="px-4 py-3 text-end">
                    0.00
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row"
                    class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    4
                </th>
                <td class="px-4 py-3">
                    <a href="leads-view.html" class="text-blue-600"> (M-T2) Nurul Izzaty</a>
                </td>
                <td class="px-4 py-3">
                    Simantakar Umbartani Binti Sulaiman
                </td>
                <td class="px-4 py-3">
                    65464694
                </td>
                <td class="px-4 py-3">
                    --NONE---
                </td>
                <td class="px-4 py-3">
                    Web
                </td>
                <td class="px-4 py-3">
                    Tidak Berminat
                </td>
                <td class="px-4 py-3">
                    559885884
                </td>
                <td class="px-4 py-3">

                </td>
                <td class="px-4 py-3 text-end">
                    0.00
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row"
                    class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    5
                </th>
                <td class="px-4 py-3">
                    <a href="leads-view.html" class="text-blue-600"> (M-T2) Nurul Izzaty</a>
                </td>
                <td class="px-4 py-3">
                    Simantakar Umbartani Binti Sulaiman
                </td>
                <td class="px-4 py-3">
                    65464694
                </td>
                <td class="px-4 py-3">
                    --NONE---
                </td>
                <td class="px-4 py-3">
                    Web
                </td>
                <td class="px-4 py-3">
                    Tidak Berminat
                </td>
                <td class="px-4 py-3">
                    559885884
                </td>
                <td class="px-4 py-3">

                </td>
                <td class="px-4 py-3 text-end">
                    0.00
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row"
                    class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    6
                </th>
                <td class="px-4 py-3">
                    <a href="leads-view.html" class="text-blue-600"> (M-T2) Nurul Izzaty</a>
                </td>
                <td class="px-4 py-3">
                    Simantakar Umbartani Binti Sulaiman
                </td>
                <td class="px-4 py-3">
                    65464694
                </td>
                <td class="px-4 py-3">
                    --NONE---
                </td>
                <td class="px-4 py-3">
                    Web
                </td>
                <td class="px-4 py-3">
                    Tidak Berminat
                </td>
                <td class="px-4 py-3">
                    559885884
                </td>
                <td class="px-4 py-3">

                </td>
                <td class="px-4 py-3 text-end">
                    0.00
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row"
                    class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    7
                </th>
                <td class="px-4 py-3">
                    <a href="leads-view.html" class="text-blue-600"> (M-T2) Nurul Izzaty</a>
                </td>
                <td class="px-4 py-3">
                    Simantakar Umbartani Binti Sulaiman
                </td>
                <td class="px-4 py-3">
                    65464694
                </td>
                <td class="px-4 py-3">
                    --NONE---
                </td>
                <td class="px-4 py-3">
                    Web
                </td>
                <td class="px-4 py-3">
                    Tidak Berminat
                </td>
                <td class="px-4 py-3">
                    559885884
                </td>
                <td class="px-4 py-3">

                </td>
                <td class="px-4 py-3 text-end">
                    0.00
                </td>
            </tr>
        </tbody>
    </table> -->
</div>